<div class="container col-6 text-center p-4 my-3">
<form [formGroup]="addContactForm" (ngSubmit)="onFormSubmit()">
  <div class="form-group row text-left">
    <label for="fullName" class="col-sm-3 col-form-label text-primary font-weight-bold">Name</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'name'"
        type="text"
        class="form-control"
        id="fullName"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="email" class="col-sm-3 col-form-label text-primary font-weight-bold">Email</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'email'"
        type="email"
        class="form-control"
        id="email"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="phone" class="col-sm-3 col-form-label text-primary font-weight-bold">Phone number</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'phoneNumber'"
        type="text"
        class="form-control"
        id="phone"
        required
      >
    </div>
  </div>
    <div class=" p-0 clearfix mb-2">
      <span class="text-primary font-weight-bold float-left">Address:</span>
    </div>
  <div class="form-group row text-left">
    <label for="country" class="col-sm-3 col-form-label text-primary font-weight-bold">Country</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'country'"
        type="text"
        class="form-control"
        id="country"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="city" class="col-sm-3 col-form-label text-primary font-weight-bold">City</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'city'"
        type="text"
        class="form-control"
        id="city"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="street" class="col-sm-3 col-form-label text-primary font-weight-bold">Street</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'street'"
        type="text"
        class="form-control"
        id="street"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="house" class="col-sm-3 col-form-label text-primary font-weight-bold">House number</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'houseNumber'"
        type="text"
        class="form-control"
        id="house"
        required
      >
    </div>
  </div>
  <div class="form-group row text-left">
    <label for="apartment" class="col-sm-3 col-form-label text-primary font-weight-bold">Apartment</label>
    <div class="col-sm-9">
      <input
        [formControlName]="'apartment'"
        type="text"
        class="form-control"
        id="apartment"
        required
      >
    </div>
  </div>
  <div class="clearfix p-0">
    <button type="submit"  class="btn btn-primary float-right  my-0" data-toggle="button" aria-pressed="false" autocomplete="off">
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>
</div>
