.container{
  background-color: whitesmoke;
}
.container-first{
  box-shadow: 1vh 1vh 3vh 0 rgba(0,0,0,0.25);
}
.table-contacts{
  border-collapse: separate;
  border-spacing: 7px 11px;
}
td{
  background-color: white;
  box-shadow: 1vh 1vh 3vh 0 rgba(0,0,0,0.25);
}
button, input{
  margin: 0 1vw;
  min-width: 70px
}
.input-group{
  min-width: 200px;
}
.icon-edit{
  width: 100px;
}

@media all and (max-width: 561px) {
  button{
    width: 100%;
    margin: 0 0 0.5rem 0!important;
  }
}
